.container-tramites{
    height: 100%;

    .cont-tramites{
        position: relative;
        width: 90%;
        max-width: 1500px;
        height: 100%;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: space-between;
        gap: 40px;

        nav{
            display: flex;
            width: auto;
            padding: 20px 20px;
            flex-direction: row;
            align-items: center;
            align-content: center;
            justify-content: space-between;
            box-shadow: 0px 8px 15px 0px #efefef;
            border-radius: 0 0 25px 25px;
            // margin-top: 30px;
    
            .logo{
                position: relative;
                width: 126px;
            }

            .divTramites{
                display: flex;
                gap: 50px;
                align-items: center;  
                font-family: 'Fredoka One', cursive;

                h2{
                    font-family: "Fredoka One", cursive !important;
                    letter-spacing: 1px;
                    font-weight: 100;
                }
            }
        }

        .content{
            display: grid;
            grid-template-columns: 28% 1fr;
            gap: 50px;
            // padding-top: 70px;
            // padding-bottom: 50px;

            .buscar{
                position: relative;
                display: flex;
                width: auto;
                height: auto;
                padding: 30px;
                border-radius: 25px;
                background-color: #fff;
                box-shadow: 1px 14px 30px 5px #d8d8d8;
                flex-direction: column;

                h2{
                    text-align: center;
                    font-size: 1.6rem;
                    margin-top: 10px;
                    margin-bottom: 10px;
                    font-family: "Fredoka One", cursive !important;
                    letter-spacing: 1px;
                    font-weight: 100;
                }

                label{
                    width: 90%;
                    margin: auto;
                    margin-top: 40px;
                }

                input{
                    position: relative;
                    padding: 10px 15px 10px 30px;
                }

                label::before{
                    content: "";
                    position: absolute;
                    width: 17px;
                    height: 17px;
                    margin-top: 32px;
                    margin-left: -7px;
                    background-image: url(../assets/loupe.svg);
                    background-size: 100%;
                    z-index: 1;
                }

                .btn-yellow{
                    width: 58%;
                    margin: auto;
                    margin-top: 30px;
                }
            }

            .historial{
                display: flex;
                align-content: center;
                align-items: center;
            }
        }

        .footer{
            background: #42b9e7;
            border-radius: 25px 25px 0 0;
            padding: 15px 25px;
            font-size: 0.9rem;
            text-align: center;
            box-shadow: 0px -6px 13px 2px #c7c7c7;

            p{
                color: white;

                a{
                    color: white;
                    text-decoration: none;
                }

                span{
                    font-family: "Fredoka One", cursive !important;
                    letter-spacing: 1px;
                    font-weight: 100;
                    color: white;
                }
            }
        }
    }   

    .super-modal{
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 100;
        background: rgba(0, 0, 0, 0.459);

        .modal{
            position: fixed;
            display: grid;
            max-width: 370px;
            width: 95%;
            height: auto;
            top: 20%;
            left: 50%;
            transform: translate(-50%, 50%);
            padding: 20px 45px 30px;
            border-radius: 25px;
            z-index: 101;
            background: white;

            .close{
                position: absolute;
                background: transparent;
                border: none;
                top: 20px;
                right: 15px;
                cursor: pointer;

                img{
                    width: 20px;
                }
            }

            h1{
                text-align: center;
                font-size: 1.6rem;
                font-weight: 500;
                margin-top: 10px;
                margin-bottom: 10px;
            }

            p{
                width: 80%;
                margin: auto;
                text-align: center;
                font-size: 1.2rem;
                margin-bottom: 10px;
            }

            label{
                width: 70%;
            }

            input{
                width: 70%;
            }

            .btn-yellow{
                width: 80%;
                margin: auto;
                margin-top: 20px;
            }
        }
    }

    .modalDialog {
        position: absolute;
        display: flex;
        font-family: Arial, Helvetica, sans-serif;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.8);
        z-index: 99999;
        opacity: 0;
        transition: opacity 400ms ease-in;
        pointer-events: none;
        align-items: center;
        justify-content: center;
    }

    .modalDialog:target {
        opacity:1;
        pointer-events: auto;
    }

    .modalDialog > div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        max-width: 800px;
        width: 95%;
        height: fit-content;
        padding: 20px 20px 30px 20px;
        border-radius: 25px;
        background: #fff;
        -webkit-transition: opacity 400ms ease-in;
        -moz-transition: opacity 400ms ease-in;
        transition: opacity 400ms ease-in;

        .modal-header{
            display: flex;
            justify-content: space-between;
            
            table{
                width: 75%;

                td{
                    padding: 15px 0.5rem;
                }
            }
            table.tramites {
                text-align: left;
            }
            table.tramites td, table.tramites th {
                border-bottom: none;
                padding: 5px 4px;
            }
            table.tramites tbody td {
                font-size: 0.8rem;
            }
            table.tramites thead th {
                font-size: 0.8rem;
                font-weight: bold;
                text-align: left;
            }
        }

        .chat{
            display: flex;
            flex-direction: column;
            gap: 15px;
            margin: auto;
            margin-top: 30px;
            width: 90%;
            max-width: 400px;
            min-height: 350px;
            max-height: 400px;
            background-color: #CCECF9;
            padding: 20px 0;
            overflow: auto;

            .uRight{
                align-content: flex-end;
                align-items: flex-end;
            }

            .uleft{
                align-content: flex-start;
                align-items: flex-start;
            }

            .content {
                display: flex;
                flex-direction: column;
                gap: 10px;
                padding: 0 20px;

                p.fecha{
                    font-size:0.8rem;
                }

                .user{
                    width: 60%;
                    background: white;
                    padding: 10px 15px;
                    border-radius: 25px;

                    .messg h3{
                        font-weight: 400;
                        font-size:0.85rem;
                    }
                }
            }
        }
    }

    .close {
        color: #FFFFFF;
        line-height: 25px;
        position: relative;
        text-align: center;
        width: auto;
        text-decoration: none;
        font-weight: bold;

        img{
            width: 20px;
        }
    }  
}